[Unit]
Description=Minecraft GWSH Server
After=network.target

[Service]
User=minecraft
WorkingDirectory=/home/minecraft/server
ReadWritePaths=/home/minecraft/server

SuccessExitStatus=0 1
KillMode=none

ProtectSystem=strict
# Doesn't really work
# ProtectHome=yes
PrivateDevices=true
NoNewPrivileges=true

ExecStart=/bin/java -Xms10G -Xmx10G -XX:+UseG1GC -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=200 -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -XX:G1NewSizePercent=30 -XX:G1MaxNewSizePercent=40 -XX:G1HeapRegionSize=8M -XX:G1ReservePercent=20 -XX:G1HeapWastePercent=5 -XX:G1MixedGCCountTarget=4 -XX:InitiatingHeapOccupancyPercent=15 -XX:G1MixedGCLiveThresholdPercent=90 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:SurvivorRatio=32 -XX:+PerfDisableSharedMem -XX:MaxTenuringThreshold=1 -Dusing.aikars.flags=https://mcflags.emc.gs -Daikars.new.flags=true -jar paper.jar --nogui
ExecStop=/bin/mcrcon -H localhost -P 25575 -p linuxwizards stop

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
